<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head') %>
<body>
    <%- include('../../layout/header') %>
    <div>
        <container>
            <% bookArray.forEach(book => { %>
                <div class="square">
                    <ul>
                        <img src=<%= book.image %>>
                        <li>Title: <%= book.title %></li>
                        <li>Authors: <%= book.authors %></li>
                        <li>Description: <%= book.description %></li>
                        <li>ISBN: <%= book.isbn %></li>
                    </ul>
                    <button class='edit' id="<%= book.isbn %>">Edit</button>
                    <div class='editDetails' id="<%= book.isbn %>">
                        <form action='/' method='post' id=book>
                            <input type="text" name="book" placeholder="Enter the title" value="<%= book.title %>" required>
                            <input type="text" name="book" placeholder="Enter the author" value="<%= book.authors %>" >
                            <input type="text" name="book" placeholder="Enter isbn" value="<%= book.isbn %>" readonly>
                            <input type="text" name="book" placeholder="Enter image_url" value="<%= book.image %>">
                            <input type="text" name="book" placeholder="Enter a bookshelf" required>
                            <input type="text" size=100 name="book" placeholder="Enter the description" value="<%= book.description %>">
                        <button type="submit">Insert into database</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </container>
    </div>
    <script>
        $('.edit').click(function () {
            let id = event.target.id;
          $(`#${id}.editDetails`).toggle();
        });
    </script>
</body>
</html>