<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>
  <container>
    <img src=<%= book.image_url %>>
    <p>Title: <%= book.title %></p>
    <p>Authors: <%= book.authors %></p>
    <p>Description: <%= book.description %></p>
    <p>ISBN: <%= book.isbn %></p>
    <p>Bookshelf: <%= book.bookshelf %></p>
  </container>

  <button class='edit'>Edit</button>

    <container class='editDetails'>
    <div class="square">
            <form action="<%= '/books/updatebook?_method=PUT' %>" method="post">
                    <input type="text" name="image" value="<%= book.image_url %>" placeholder="Book Image" required>
                    <input type="text" name="title" value="<%= book.title %>" placeholder="Book Name" required>
                    <input type="text" name="authors" value="<%= book.authors %>" placeholder="Book Authors">
                    <input type="text" name="description" value="<%= book.description %>" placeholder="Book Description">
                    <input type="text" name="isbn" value="<%= book.isbn %>" placeholder="Book ISBN" readonly>
                    <input type="text" name="bookshelf" value="<%= book.bookshelf %>" placeholder="Book Bookshelf" required>
            <button type="submit">submit</button>
            </form>
            <form action="<%= '/delete/deletebook?_method=DELETE' %>" method="post">
              <input type="hidden" name="isbn" value="<%= book.isbn %>" placeholder="Book ISBN">
              <button type="submit">delete</button>
            </form>
        </div>
    </container>
    <script>
        $('.edit').click(function () {
          $('.editDetails').toggle();
        });
    </script>
</body>
</html>