<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>
  <container>
    <% /* %>
    <div>
      <h1>Book count : <%= bookArray.length %></h1> -->
      <button onclick="location.href = 'searches/new';">Go to search</button> -->
        <ul>
            <% bookArray.forEach(book => { %>
              <div class="square">
                      <img src=<%= book.image_url %>>
                      <li>Title: <%= book.title %></li>
                      <li>Authors: <%= book.authors %></li>
                      <li>Description: <%= book.description %></li>
                      <li>ISBN: <%= book.isbn %></li>
                      <li>Bookshelf: <%= book.bookshelf %></li>
                      <a href="/books/<%= book.isbn %>">Detail View</a>
              </div>
          <% }) %> 
          </form>
        </ul>
    </div>
    <% */ %>

    <div>
      <button onclick="location.href = '/trendingGif';">Trending Gifs</button>
      <button onclick="location.href = '/trendingSticker';">Trending Stickers</button>

      <h4>Search for gifs/stickers</h4>
      <!-- action visits the route and method is the route method -->
      <form action='/search' method='post'>
        <input type="text" name="search" placeholder="Enter something" required>
        <fieldset>
          <label for="Gif">
            <span>Gif</span>
            <input type="radio" name="search" value="gif" required>
          </label>
        </fieldset>

        <fieldset>
            <label for="Sticker">
              <span>Sticker</span>
              <input type="radio" name="search" value="sticker" required>
            </label>
          </fieldset>
          <button type="submit">Search</button>
      </form>
    </div>

  </container>
</body>
</html>