<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>
  <container>
    <div>
      <h1>Book count : <%= bookArray.length %></h1>
      <button onclick="location.href = 'searches/new';">Go to search</button>
        <ul>
            <% bookArray.forEach(book => { %>
              <div class="square">
                      <img src=<%= book.image_url %>>
                      <li>Title: <%= book.title %></li>
                      <li>Authors: <%= book.authors %></li>
                      <li>Description: <%= book.description %></li>
                      <li>ISBN: <%= book.isbn %></li>
                      <li>Bookshelf: <%= book.bookshelf %></li>
                      <a href="/books/<%= book.isbn %>">Detail View</a>
              </div>
          <% }) %> 
          </form>
        </ul>
    </div>
  </container>
</body>
</html>